<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-center">Start export excel</h1>
    <p class="lead">
      <%= form_with url: export_xlsx_path, class: "text-center" do |form| %>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-1 col-form-label">Name:</label>
          <div class="col-sm-11">
            <%= form.text_field :name_file, class: "form-control" %>
          </div>
        </div>
        <%= form.submit "Export", class: "btn btn-primary btn-lg" %>
      <% end %>
    </p>
  </div>
</div>
