<% if @status.current_status == "new" %>
  <h4 class="text-center">Status: NEW</h4>
<% elsif @status.current_status == "running" %>
  <h4 class="text-center color-red">Status: <%= @status&.name&.capitalize %> RUNNING</h4>
<% else %>
  <h4 class="text-center color-green">Status: <%= @status&.name&.capitalize %> FINISH</h4>
<% end %>
