<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-center">Start crawl data</h1>
    <p class="lead">
      <%= form_with url: execute_crawl_path, class: "text-center" do |form| %>
        <%= form.submit "Start crawl", class: "btn btn-primary btn-lg", data: { disable_with: false } %>
      <% end %>
    </p>
    <div class="text-center">Crawl last time: <%= @status.updated_at %></div>
    <div id="id_status"><%= render partial: "homes/status", locals: {status: @status} %></div>
  </div>
</div>
