<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Start crawl data</h1>
    <p class="lead">
      <%= link_to "Start", execute_crawl_path, class:"btn btn-primary btn-lg", method: :post %>
    </p>
  </div>
</div>
