.custom-pagy {
  display: flex;
  justify-content: center;
}
.image {
  max-width: 100px;
  max-height: 100px;
}
.text-center {
  text-align: center;
}
.color-red {
  color: red;
}
.color-green {
  color: green;
}
